<h1>Welcome!</h1>
<h3>To out portfolio site.</h3>
<br><br>
<h4>Users, begin <%= link_to 'creating', new_user_registration_path %> your portfolio!</h4>
<h4>Employers, <%= link_to 'find' %> employees.</h4>
