<h2>Welcome!</h2>
<h3>To our portfolio site.</h3>
<br><br>
<hr>
<h4>Users, <%= link_to 'sign in', new_user_session_path %> to begin <%= link_to ' creating', new_employee_path %> your portfolio!</h4>
<hr>
<br><br>
<hr>
<h4>Employers, <%= link_to 'click here', employees_path %> to view potential employees.</h4>
<hr>
<br><br>
<hr>
<h4>Already have an account? <%= link_to 'click here', employees_path %> to find your account and edit your account.</h4>
<hr>
