<h1>Create a Portfolio</h1>
<br>
<div class="field">
<%= form_for @cv do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
<br><br>
<div class="actions">
  <%= f.submit "Submit Portfolio" %>
</div>
<br><br><br><br><br>
<% end %>
